include LICENSE
include README.rst
recursive-include comuni_italiani/static *
recursive-include comuni_italiani/templates *
recursive-include docs *
recursive-exclude comuni_italiani/management *
recursive-include comuni_italiani/management/commands *
recursive-exclude comuni_italiani/utils *
